<html><head><link rel="stylesheet" href="/static/css/style.css"></head><body>
<div class="header">تقديم هوية</div><div class="container">
<p style="color:red;font-weight:bold;">يجب كتابة الأجوبة في الرول (تكتب خارج الرول = مرفوض)</p>
<form method="POST">
<input name="name" placeholder="اسمك" required><br><input name="age" placeholder="عمرك" required><br>
<input name="dob" placeholder="تاريخ الميلاد" required><br>
<select name="nationality"><option>ساندي شور</option><option>بليتو</option><option>لوس انجلوس</option></select><br>
<select name="gender"><option>ولد</option><option>بنت</option></select><br>
<input name="discord" placeholder="ايديك ديسكورد" required><br>
<button type="submit">إنشاء</button></form></div></body></html>